<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Result page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/result.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">College name</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown link
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <section id="aside">
        <div class="course-data">
          <p>Session : 2023-2024</p>
          <p>Course : B. Tech</p>
          <p>Sem. V</p>
          <p>Roll no. : 2115000647</p>
        </div>
        <div class="data">
          <img
            src="https://images.unsplash.com/photo-1507537509458-b8312d35a233?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHN0dWRlbnRzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <p>Name : Naman Kumar</p>
          <p>Email : namankumar@gmail.com</p>
          <p>Curr. CGPA : 8.5 CGPA</p>

          <h6>Personal details</h6>
          <p>DOB : 21/11/2002</p>
          <p>Gender : Male</p>
          <p>Father's Name : vgbkjbhgvhg</p>
          <p>Mother's Name : vgbkjbhgvhg</p>
          <p style="line-height: 1.2">
            Address : 26/121 D Balka Basti Gokulpura Rajamadi,, Agra, Uttar
            Pradesh-282002, India
          </p>
        </div>
      </section>
      <section id="main">
        <div class="heading">
          <h2>Results</h2>
        </div>
        <div class="sem-details">
          <ul>
            <li>
              <h4>
                <a href=""> Sem 1 </a>
              </h4>
            </li>
          </ul>
        </div>
        <div class="result-details">
            <table border="1" id="table" >
                <tr>
                    <th>#</th>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Coding Score</th>
                    <th>Multiple Choices Score</th>
                    <th>Total Score</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>SC101</td>
                    <td>Introduction to Science</td>
                    <td>3</td>
                    <td>A</td>
                    <td>4.0</td>
                </tr>
            </table>
        </div>
        <div class="grade-details">
            <table border="1">
                <tr>
                    <th>STC</th>
                    <th>SGP</th>
                    <th>SPI</th>
                    <th>CC</th>
                    <th>CGP</th>
                    <th>CPI</th>
                </tr>
                <tr>
                    <td>36</td>
                    <td>201</td>
                    <td>8.5</td>
                    <td>101</td>
                    <td>3.8</td>
                    <td>3.78</td>
                </tr>
            </table>
        </div>
      </section>
    </main>
  </body>
</html>
